@charset "UTF-8";

/*→ GERAL ←*/
body {
    height: 100vh; /*compatibilidade*/
    height: 100dvh;
    width: 100%; /*compatibilidade*/
    width: 100dvw;
    background-color: var(--plano_de_fundo_escurecido);
}

/*→ CABEÇALHO ←*/
header {
    display: grid;
    height: 56px;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: repeat(3, auto);
    box-sizing: border-box;
    padding: 16px 16px 0px 16px;
}

header img {border-radius: 8px;}

header h1 {
    font-size: 16px;
    padding: 8px;
    background-color: var(--plano_de_fundo_colorido);
    border-radius: 8px;
}

header section {display: grid;}

[data-btn-acao="abrir_menu_cabecalho"] .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 40 !important;
    font-size: 40px;
}

header button {
    padding: unset;
    background: none;
}

/*→ MENU DO CABEÇALHO ←*/
#menu_cabecalho {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, minmax(40px, 40px));
    justify-content: end;
    grid-gap: 8px;
    position: absolute;
    top: calc(56px + 8px);
    right: 16px;
    height: fit-content;
    width: fit-content;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--plano_de_fundo);
    box-shadow: var(--sombra_leve);
    animation: ease-in-out 100ms;
    animation-name: abrir_menu_cabecalho;
}

    @keyframes abrir_menu_cabecalho {
        0% {transform: scale(0.9); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

    @keyframes fechar_menu_cabecalho {
        0% {transform: scale(1); opacity: 1;}
        100% {transform: scale(0.9); opacity: 0;}
    }

#menu_cabecalho button.btn-menu_cabecalho {
    justify-content: flex-end;
    margin-right: 0px;
    height: 40px;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    transition-duration: 250ms;
}

#menu_cabecalho button.btn-menu_cabecalho:hover {
    background-color: var(--plano_de_fundo_colorido);
    box-shadow: var(--sombra
    );
}

/*→ LISTA DE ITENS ←*/
main {
    display: grid;
    height: calc(100% - 56px);
    width: 100%;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill, minmax(140px,140px));
    grid-template-rows: repeat(auto-fill, minmax(80px,80px));
    justify-content: center;
    justify-items: center;
    grid-gap: 24px;
    box-sizing: border-box;
    padding: 36px 16px 16px 16px;
    height: calc(100% - 56px);
    width: 100%;
    box-sizing: border-box;
    padding: 36px 16px 16px 16px;
}

    /*→ LISTA COM ITENS ←*/
    main:has(article.item_da_lista) article:first-of-type {
        display: none;
    }

    /*→ LISTA VAZIA ←*/
    main:not(:has(article.item_da_lista)) {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    main:not(:has(article.item_da_lista)) article:first-of-type {
        display: grid;
        align-items: center;
        justify-items: center;
        max-width: 250px;
        text-align: center;
        filter: opacity(0.5);
        animation: adicionar_item 150ms ease-in;
    }

    main:not(:has(article.item_da_lista)) article:first-of-type img {
        margin-bottom: 16px;
    }

/*→ ITENS DA LISTA ←*/
article.item_da_lista {
    display: grid;
    height: fit-content;
    width: 140px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
    align-items: center;
    justify-items: center;
    background-color: var(--plano_de_fundo);
    box-shadow: var(--sombra_leve);
    box-sizing: border-box;
    padding: 16px 8px 8px 8px;
    border-radius: 8px;
    border: 0px solid var(--destaque);
    transition-duration: 100ms;
    animation: ease-in 150ms;
    animation-name: adicionar_item;
}

    @keyframes adicionar_item {
        0% {transform: scale(0.9); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

    @keyframes deletar_item {
        0% {transform: scale(0.9); opacity: 1;}
        100% {transform: scale(0); opacity: 0;}
    }

article.item_da_lista:last-child .popup:not([style*="display: none"]) {
    z-index: 1; /*o btn de adicionar item fica por cima desse elemento.*/
}

article.item_da_lista p {text-align: center;font-size: 20px; overflow: auto; white-space: nowrap; width: 90%;}

article.item_da_lista section {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-gap: 8px;
    height: fit-content;
    width: fit-content;
    padding: 4px 16px;
    background-color: var(--plano_de_fundo_colorido);
    border-radius: 8px;
}

article.item_da_lista section button {
    display: none;
    height: 24px;
    width: 24px;
    padding: unset;
    background: none;
}

article.item_da_lista section button:hover {
    box-shadow: none;
    transform: scale(0.9);
}

article.item_da_lista.editar_item {
    border: 2px solid var(--destaque);
}

article.item_da_lista.editar_item section {
    padding: 4px 8px;
    grid-template-columns: repeat(3, 24px)
}

article.item_da_lista.editar_item section button {
    display: initial !important;
}

button[data-item="concluir_item"] {
    display: flex !important;
}

button[data-item="concluir_item"] .material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24 !important;
    color: var(--destaque);
}

/*→ BOTÃO DE ADICIONAR ITEM ←*/
#adicionar_item {
    justify-content: flex-end;
    position: absolute;
    width: fit-content;
    bottom: 16px;
    right: 16px;
    box-shadow: var(--sombra_leve);
    transition: all 150ms ease-in-out;
    white-space: nowrap;
}

#adicionar_item .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24 !important;
    color: var(--parágrafo_cor_clara);
}

/*→ POPUPs ←*/
section.popup {
    display: none;
    grid-gap: 24px;
    height: fit-content;
    max-height: 450px;
    overflow-y: hidden;
    max-width: 300px;
    position: absolute;
    margin: auto;
    inset: 0 0 0 0;
    background-color: var(--plano_de_fundo);
    box-sizing: border-box;
    padding: 24px;
    border-radius: 24px;
    box-shadow: var(--sombra_de_tela_inteira);
    text-align: center;
    animation: ease-in-out 100ms;
    animation-name: abrir_popup;
}

    @keyframes abrir_popup {
        0% {transform: scale(0.9); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

    @keyframes fechar_popup {
        0% {transform: scale(1); opacity: 1;}
        100% {transform: scale(0.9); opacity: 0;}
    }

section.popup img {
    margin: auto;
}

section.popup .popup_conteudo {
    max-height: 250px;
    overflow-y: scroll;
}

section.popup h2 {
    font-size: 20px;
}

section.popup .popup_conteudo p {
    margin: 8px auto;
    text-align: justify;
}

section.popup input {
    height: 48px;
    width: 100%;
    background-color: var(--plano_de_fundo_colorido);
    border: 2px solid var(--destaque);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
}

section.popup div.container_btns_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
}

section.popup div.container_btns_popup .btn-acao_primaria {
    width: 100%;
}

section.popup div.container_btns_popup .btn-acao_secundaria .material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24 !important;
}

/*→ NOTIFICAÇÃO ←*/
section.notificacao {
    display: none;
    grid-template-columns: 24px 1fr;
    justify-content: center;
    align-items: start;
    height: fit-content;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--plano_de_fundo_colorido);
    border-radius: 8px;
    grid-gap: 8px;
    box-shadow: var(--sombra_leve);
}

section.notificacao .material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24 !important;
    color: var(--destaque);
}