@charset "UTF-8";

/*→ GERAL ←*/
body {
    height: 100vh; /*compatibilidade*/
    height: 100dvh;
    width: 100%; /*compatibilidade*/
    width: 100dvw;
    background-color: var(--plano_de_fundo_escurecido);
}

/*→ CABEÇALHO ←*/
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 16px 0px 16px;
}

header button {
    margin: 0px;
    border-radius: 8px;
    padding: 8px;
    box-shadow: var(--sombra_leve);
}  

header button .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24;
}

header h1 {
    font-size: 20px;
}

/*→ CONTEÚDO ←*/
main {
    height: calc(100% - 56px);
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
    padding: 32px 16px;
}