@charset "UTF-8";

h1 {font-size: 28px;}

/* → PÁGINA DE ATERRISSAGEM ← */
#aterrissagem-plano_de_fundo {
    background-image: url('imagens/foto-pagina-aterrissagem.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 50svh;
}

#aterrissagem-login {
    display: grid;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    box-sizing: border-box;
    padding: 0px 30px;
    background-image: linear-gradient(0deg, var(--fundo) 60%, transparent);
}

.btn_login {
    display: grid !important;
    grid-template-columns: 0.2fr 1fr;
    align-content: center;
    align-items: center;
    grid-column-gap: 12px;
    margin: 30px auto 0px auto;
    justify-content: center;
    background: var(--fundo_contraste) !important;
    font: var(--p) !important;
    padding: 12px 15px;
    border-width: 2px;
}

.btn_login:active {transform: unset;}

footer {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 30px;
}