@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /*→ TEXTO ←*/
    --titulo: 'Atkinson Hyperlegible';
    --titulo_cor: #141414;
    --parágrafo: 'Atkinson Hyperlegible';
    --parágrafo_cor: #3D3D3D;
    --parágrafo_cor_clara: #FCF6EE;

    /*→ CORES ←*/
    --parágrafo_cor_clara: #FCF6EE;
    --plano_de_fundo: #FFFFFF;
    --plano_de_fundo_colorido: #FCF6EE;
    --plano_de_fundo_escurecido: #FAFAFA;
    --destaque: #A7727D;
    --ícones: #141414;

    /*→ OUTROS ←*/
    --sombra_leve: 0px 0px 10px #14141408;
    --sombra_de_tela_inteira: 0px 0px 0px 100vh #14141416;
}

/*→ GERAL ←*/
* {
  margin: 0;
  padding: 0;
  font-family: var(--parágrafo);
  color: var(--parágrafo_cor);
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--titulo_cor);
  font-weight: bold;
}

button {
  background-color: var(--plano_de_fundo_colorido);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  margin: auto;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  transition: ease-in-out 150ms;
  box-shadow: 0px 0px 0px #00000015;
}
  button.btn-acao_primaria {
    background-color: var(--destaque);
    color: var(--parágrafo_cor_clara);
  }
  button.btn-acao_primaria:active {
    transform: scale(0.95);
  }
  button.btn-acao_secundaria {
    background-color: var(--plano_de_fundo_colorido);
    color: var(--destaque);
  }
  button.btn-acao_secundaria .material-symbols-rounded {
    color: var(--destaque);
  }

/*→ ÍCONES ←*/
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
  font-size: 24px;
}

/*→ POPUPs ←*/
section.popup {
  display: none;
  grid-gap: 24px;
  height: fit-content;
  max-height: 450px;
  overflow-y: scroll;
  max-width: 300px;
  position: absolute;
  margin: auto;
  inset: 0 0 0 0;
  background-color: var(--plano_de_fundo);
  box-sizing: border-box;
  padding: 24px;
  border-radius: 24px;
  box-shadow: var(--sombra_de_tela_inteira);
  text-align: center;
  animation: ease-in-out 100ms;
  animation-name: abrir_popup;
}

  @keyframes abrir_popup {
      0% {transform: scale(0.9); opacity: 0;}
      100% {transform: scale(1); opacity: 1;}
  }

  @keyframes fechar_popup {
      0% {transform: scale(1); opacity: 1;}
      100% {transform: scale(0.9); opacity: 0;}
  }

section.popup img {
  margin: auto;
}

section.popup h2 {
  font-size: 20px;
  margin-bottom: -24px;
  text-align: center;
}

section.popup .popup_conteudo p {
  margin: 8px auto;
  text-align: justify;
}

section.popup input {
  height: 48px;
  width: 100%;
  background-color: var(--plano_de_fundo_colorido);
  border: 2px solid var(--destaque);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
}

section.popup div.container_btns_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}

section.popup div.container_btns_popup .btn-acao_primaria {
  width: 100%;
}

section.popup div.container_btns_popup .btn-acao_secundaria .material-symbols-rounded {
font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 24 !important;
}

@media screen and (max-width: 768px) {
  section.popup {
    max-height: 80vh;
  }

  section.popup .popup_conteudo {
    max-height: 300px;
    overflow-y: scroll;
  }
}