@charset "UTF-8";

/*→ CONTEÚDO ←*/
main {
    height: calc(100% - 56px);
    height: calc(100vh - 56px);
    display: grid;
    justify-content: start;
    align-items: start;
    width: 100%;
    align-content: start;
    gap: 16px;
}

article.novidade {
    background-color: var(--plano_de_fundo);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
    box-shadow: var(--sombra_leve);
}

[data-novidade="titulo"] {
    font-size: 18px;
}

[data-novidade="rodape"] {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

[data-novidade="rodape"] button {
    padding: 4px 8px;
    border-radius: 8px;
    width: fit-content !important;
    margin: 0px;
}

button.btn-acao_primaria .material-symbols-rounded {
    color: var(--parágrafo_cor_clara);
}

article.novidade div.container_btns_popup {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
}