@charset "UTF-8";

main {
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    grid-gap: 16px;
    height: calc(100% - 56px);
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
    padding: 32px 16px;
}

/*SEÇÕES DA CONTA*/
main section {
    display: block;
    height: fit-content;
    width: 100%;
    background-color: var(--plano_de_fundo);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
    box-shadow: var(--sombra_leve);
}

main section h2 {
    font-size: 18px;
}

main section button {
    padding: 8px;
    border-radius: 8px;
    color: var(--paragrafo) !important;
    margin: 16px 0px 0px 0px;
}

main section button .material-symbols-rounded {
    color: var(--paragrafo) !important;
}

main section:first-of-type {
    background-color: unset;
    box-shadow: unset;
    display: grid;
    justify-items: center;
    text-align: center;
}

main section:first-of-type h2, main section:first-of-type p {
    width: 100%;
}

main section:first-of-type img {
    margin-bottom: 16px;
    border-radius: 24px;
}